style.
    th, td {
        border: 1px solid gray;
        padding: 5px;
    }

div
    h3 Hello, #{name}. Please confirm you'r email by click on the link above:
    a(href=data.link, style={'margin-bottom': '5px', display: 'inline-block', 'text-decoration': 'none'}) Cofirmation link
