doctype html
html
  head
    title Customer Service
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    style(type='text/css').
      /* CLIENT-SPECIFIC STYLES */
      body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
      table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
      img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
      /* RESET STYLES */
      img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
      table{border-collapse: collapse !important;}
      body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}
      @font-face {
      font-family: 'Circe';
      src: url("fonts/Circe-Regular.eot");
      src: url("fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
      url("fonts/Circe-Regular.woff") format("woff"),
      url("fonts/Circe-Regular.ttf") format("truetype");
      font-weight:normal;
      }
      @font-face {
      font-family: 'Circe';
      src: url("fonts/Circe-Bold.eot");
      src: url("fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
      url("fonts/Circe-Bold.woff") format("woff"),
      url("fonts/Circe-Bold.ttf") format("truetype");
      font-weight: 700;
      }
      /* iOS BLUE LINKS */
      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      /* MOBILE STYLES */
      @media screen and (max-width: 599px) {
      /* ALLOWS FOR FLUID TABLES */
      .wrapper {
      width: 100% !important;
      max-width: 100% !important;
      }
      .wrapper-50{
      width: 50% !important;
      max-width: 50% !important;}
      /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
      .mobile-hide {
      display: none !important;
      }
      /* FULL-WIDTH TABLES */
      .responsive-table {
      width: 100% !important;
      }
      /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
      .padding {
      padding: 10px 5% 15px 5% !important;
      }
      .section-padding {
      padding: 0 15px 50px 15px !important;
      }
      .padding-xsno{padding-left:15px!important;padding-right:15px!important;}
      .h1{font-size: 18px!important;}
      .pln-xs{padding-left: 15px!important;}
      }
      /* ANDROID CENTER FIX */
      div[style*="margin: 16px 0;"] { margin: 0 !important; }
  body(style='margin: 0 !important; padding: 0 !important;')
    // HIDDEN PREHEADER TEXT
    div(style='display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;')
      | #{preheader}
    // HEADER
    table(border='0', cellpadding='0', cellspacing='0', width='100%')
      tbody
        tr
          td(bgcolor='#ffffff', align='center')
            table(border='0', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr
                  td(align='center', valign='top', style='border-collapse: collapse;')
                    //if (gte mso 9)|(IE)
                      table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
                        tbody
                          tr
                            td(align='center', valign='top', width='600')
                    table.wrapper(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
                      tbody
                        tr
                          td(align='left', valign='top', style="color: #000000;font-family: 'Circe', sans-serif, Arial;font-size:16px;font-weight: normal;line-height: 140%;padding:40px 15px 40px;text-align: left;vertical-align: middle;border-collapse: collapse;")
                            p(style='color:#cacaca;margin-top:5px;margin-bottom:25px;border-bottom:1px solid #767676;') ##- Please type your reply above this line -##
                            h1.h1(style="color:#000000;display:block;font-family:'Circe', sans-serif, Arial;font-size:18px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;")
                              | The Wally Shop
                            p(style='color:#cacaca;margin-top:5px;margin-bottom:25px;')
                            p Hi #{name},
                            p
                              | We're sorry to hear that you have an issue and we are here to help. We will be sending a follow up email shortly!
                            p Best,
                            p The Wally Shop
                    //if (gte mso 9)|(IE)
